* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;

}

html,
body {
	height: 100%;
}

body {
	background-color: #edffeb;
}

.container {
	width: 100%;
	max-width: 1042px;
	margin: 0 auto;
}

header *.container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

footer *.container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.cabecario {
	display: flex;
	width: 100%;
	height: 160px;
	flex-direction: row;
}

.logo-topo {
	background-image: url('../../../public/img/logo if.png');
	background-size: 100% 100%;
	height: 100%;
	width: 174px;
}

.cabecariopt2 {
	display: flex;
	flex-direction: column;
	background-color: #0A5517;
	width: 100%;

}

.borda-cabe {
	background-color: #01420B;
	height: 42px;
	width: 100%;
	border-top: 1px solid black;
}

.cabecariopt2 h3 {
	color: white;
	padding-left: 15px;
	padding-top: 10px;
}

.cabecariopt2 h1 {
	color: white;
	top: 10px;
	padding-left: 28px;
	padding-top: 20px;

}

.cabecariopt2 input {
	position: relative;
	bottom: 30px;
	left: 87%;
	color: white;
	background-color: #0A5517;
	border: 0;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 15px;
}

.academiaDoCampus {
	position: relative;
	top: 10px;
	height: 80px;
	background-color: #ECF1EC;
	padding: 24px;
	border: 2px solid #B6B8B6;
}

.academiaDoCampus h2 {
	color: #0A5517;
	text-align: center;
}

.painelDeEscolha {
	display: flex;
	flex-direction: row;
	height: 50px;
	width: 100%;
}

.painelDeEscolha a {
	position: relative;
	top: 20px;
	width: 100%;
	color: black;
	background-color: #ECF1EC;
	border: 2px solid #B6B8B6;
	cursor: pointer;
	font-size: 18px;
	text-decoration: none;
	color: black;
	text-align: center;
	padding-top: 8px;

}

.painelDeEscolha a:nth-of-type(3) {
	background-color: #A0A0A0;

}

section section:nth-of-type(1) {
	position: relative;
	top: 30px;
}

.agendamento {
	width: 100%;
	background-color: #ECF1EC;
	border: 2px solid #B6B8B6;
}

.agendamento h1 {
	padding: 30px;
	font-size: 35px;
}

.agendamento p {
	padding-left: 30px;
	padding-bottom: 15px;
	font-size: 20px;
	font-weight: 900;
}

.agendamento2 {
	width: 100%;
	background-color: #ECF1EC;
	border: 2px solid #B6B8B6;
	position: relative;
	top: 25px;
}

.calendario {
	background-color: #e5ffef;
}

.select {
	display: flex;
	padding: 50px;
}

.select select {
	width: 180px;
	height: 30px;
}

.select-data {
	padding-top: 20px;
	padding-left: 31px;
	padding-right: 15px;

}

.select-data input {
	position: relative;
	top: -16px;
}

.botão-agendamento {
	height: 130px;
}

.botão-agendamento input {
	position: relative;
	cursor: pointer;
	width: 90px;
	height: 30px;
	background: #0A5517;
	border: 1px solid #000000;
	border-radius: 4px;
	color: white;
	left: 50px;
	top: 2px;
	font-size: 15px;
}

.botão-agendamento2 {
	width: 33.3%;
}

.botão-agendamento2 input {
	position: relative;
	cursor: pointer;
	width: 180px;
	height: 30px;
	background: #0A5517;
	border: 1px solid #000000;
	border-radius: 4px;
	color: white;
	left: 32px;
	top: 2px;
	font-size: 15px;
}

.select-tutor {
	padding-top: 50px;
	padding-left: 70px;
	padding-bottom: 50px;
}

.select-tutor input {

	cursor: pointer;
	width: 100px;
	height: 30px;
	background: #0A5517;
	border: 1px solid #000000;
	border-radius: 4px;
	color: white;
	font-size: 15px;
}

section:nth-of-type(2) {
	position: relative;
	top: 40px;
}

.horarios {
	width: 100%;
	background-color: #ECF1EC;
}

.horarios h2 {
	padding: 30px;
	font-size: 35px;
}

.horarios-pt1 {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 680px;
	padding: 15px 40px 15px 40px;
}

.semana {
	width: 50%;

}

.semana ul {
	width: 100%;
	list-style: none;
}

.semana ul li {
	padding: 20px;
	font-size: 20px;
	color: black;
	font-weight: 900;
}

.calendario {
	background-color: #e5ffef;
	width: 100%;
	height: 90%;
	text-align: center;
}

.calendarTutor {
	max-height: 585px;
	height: 100%;
}

footer {
	position: relative;
	top: 50px;
}

footer .primeiroRodaPe {

	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100px;
	background-color: #0A5517;
}

footer .primeiroRodaPe p {
	width: 50%;
	padding: 28px 15px 15px 15px;
	color: white;
	font-size: 15px;
	text-align: center;
}

footer .container-segundoRodaPe {

	width: 100%;

}

footer .segundoRodaPe {
	display: flex;
	flex-direction: row;
	background-color: #01420B;
	padding: 25px;

}

footer .segundoRodaPe .p {
	width: 76%;
	color: white;
	font-size: 15px;
	text-align: center;
	padding-top: 15px;

}

footer .segundoRodaPe .img-footer1,
footer .segundoRodaPe .img-footer2 {
	width: 164.6px;
	height: 46.3px;
	background-image: url('../../../public/img/logo-gov.png');
	background-size: 100% 100%;
}

@media screen and (max-width: 1130px) {
	footer .primeiroRodaPe {
		height: 140px;
	}

	.cabecariopt2 input {
		left: 85%;

	}
}

@media screen and (max-width: 780px) {

	footer .primeiroRodaPe {
		height: 180px;
	}

}

@media screen and (max-width: 660px) {
	footer .primeiroRodaPe {
		height: 240px;
	}

	.cabecariopt2 input {
		left: 88%;
		bottom: 0;
	}

	.select {
		flex-direction: column;
		text-align: center;

	}

	.botão-agendamento2 {
		width: 100%;
	}

	.botão-agendamento2 input {
		position: initial;
	}



}