<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DisceTela2</title>
	<link rel="stylesheet" type="text/css" href="css/styleTela2.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div class="container">
			<div class="cabecario">
				<div class="logo-topo">

					</div><!--logo-topo-->
					<div class="cabecariopt2">
						<h3>Instituto Federal de Educação, Ciência e Tecnologia Baiano</h1>
						<h1>Campus Guanambi</h1>
						<input type="submit" name="Entrar" value="Entrar">
						<div class="borda-cabe">
						</div><!--borda-cabe-->
			
				</div><!--cabecariopt2 -->
			</div><!--cabecario-->
		</div><!--contaiver-->
	</header>
	<section>
		<div class="container">
			<div class="academiaDoCampus">
				<h2>Academia do campus</h2>
			</div><!--academiaDoCampus-->

			<div class="painelDeEscolha">
				<input type="submit" name="Regulamento" value="Regulamento">
				<input type="submit" name="Horários" value="Horários">
				<input type="submit" name="Agendamento" value="Agendamento">
				<input type="submit" name="Notas" value="Notas">

			</div><!--painelDeEscolha-->
		</div><!--container-->
	</section>

	<section>
		<div class="container">
			<div class="horarios">
				<h2>Horários da Academia:</h2>
				<div class="horarios-pt1">
					 <div class="semana">
						<ul>
							<li>Segunda: 8:30 ~ 11:00 || 13:30 ~ 18:00</li>
							<li>Terça:       8:30 ~ 11:00 || 13:30 ~ 18:00</li>
							<li>Quarta:     8:30 ~ 11:00 || 13:30 ~ 18:00</li>
							<li>Quinta:     8:30 ~ 11:00 || 13:30 ~ 18:00</li>
							<li>Sexta:       8:30 ~ 11:00 || 13:30 ~ 18:00</li>
						</ul>
					</div><!--semana-->
					<div class="calendario"><!--CALENDARIOOOOOOO
					--><h1>add calendario </h1></div><!--calendario-->
				</div><!--horarios-pt1-->
				
				<div class="horarios-pt2">
					<div class="seletor-periodo">
						<div class="meus-horarios">
						<h2>Meus Horários:</h2>
					</div><!--h2-->
						<div class="select">
						<select name="select">
							  <option value="valor1">Periodo 1</option>
							  <option value="valor2" selected>Periodo 2</option>
							  <option value="valor3">Periodo 2</option>
						</select>
					</div><!--select-->
					</div><!--seletor-periodo-->
					<div class="meus-horarios">
						<ul>
							<li>Segunda 17/04/2022 : 8:30 ~ 9:00 </li>
							<li>Quarta    19/04/2022 : 9:30 ~ 10:00 </li>
							<li>Quinta     20/04/2022 : 14:30 ~ 15:00 </li>
						</ul>
					</div><!--meus-horarios-->
				</div><!--horarios-pt2-->
			</div><!--horarios-->
		</div><!--container-->

	</section>

	<footer>
		<div class="container">
			<div class="primeiroRodaPe">
				<p>Instituto Federal de Educação, Ciência e Tecnologia Baiano – Campus Guanambi
					Zona Rural - Distrito de Ceraíma, Bahia - CEP: 46430-000</p>
				<p>Instituto Federal de Educação, Ciência e Tecnologia Baiano
					Reitoria: Rua do Rouxinol, nº 115, Imbuí, Salvador-BA. CEP: 41720-052. CNPJ: 10.724.903/0001-79 Telefone: (71) 3186-0001 | E-mail: gabinete@ifbaiano.edu.br</p>
			</div><!--primeiroRodaPe-->
			<div class="container-segundoRodaPe">
			<div class="segundoRodaPe">

				<div class="img-footer1"></div><!--img-footer1-->
				<div class="p">
					<p>Tel.: (77) 3493-2100
						Diretor: Carlito José de Barros Filho
						E-mail: diretor@guanambi.ifbaiano.edu.br</p>
					</div><!--p-->
				<div class="img-footer2"></div><!--imgfooter2-->
			</div><!--segundoRodaPe-->
		</div><!--container-segundoRodaPe-->
		</div><!--container-->
	</footer>


</body>
</html>