#logo {
    align-items: flex-end;
    position: absolute;
    background-color: rgba(231, 233, 235, 0.4);
    height: 200px;
    width: 200px;
    padding: 400;
    position: absolute;
}

#header {
    margin-left: 100px;
    margin-top: 100px;
}

body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: rgba(253, 247, 247, 0.911);
}

.header {
    background: #0a5517;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 15px;
}

.flex {
    display: flex;
    max-width: auto;
    margin: 0 auto;
}

.flex>div {
    flex: 1 1 300px;
    margin: 10px;
}

body {
    background-color: #eeeef1;
    margin-left: auto;
    margin-right: auto;
}

form div>input {
    text-align: center;
    border-radius: 5px;
}

form div {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/academia.jpg);
    background-size: 100%;
    border-radius: 15px;
    height: 260px;
    padding-right: 10px;
    margin-right: 5px;
}

form {
    background-color: rgb(231, 233, 235);
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

h3 {
    color: #ccc;
}

img {
    align-items: flex-end;
    background-color: white;
    height: 60px;
    width: 60px;
}

form input[type=text],
form input[type=password] {
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10PX;
    margin: 10px 0;
    border-radius: 15px;
}

form input[type=submit] {
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: #0a5517;
    color: white;
    border: 0;
    border-radius: 15px;
    transition: 1s;
}

form input[type=submit]:hover {
    background-color: #09250d;
}

form input[type=text]:focus {
    outline: 0;
}

form input[type=password]:focus {
    outline: 0;
}