<!DOCTYPE html>
<html lang="pt">
<head>
	<link rel="shortcut icon" href="img/favicon1.png" type="image/x-icon">
	<style type="text/css">
		body{background-color: rgb(172, 216, 209);}

		#corpo{width: 1000px; background-color: aliceblue; margin: 0%;}
	</style>
    <meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
	<div>
		<div class="list-group">
				<h3># Projeto-Web-I</h3>
			<img src="https://www.educabras.com/media/faculdades/image/ifbaiano.png">

			<h1>## SysGymIf</h1>
		</div>
	</div>
</body>
</html>