<!DOCTYPE html>
<html lang="pt">
<head>
	<link rel="shortcut icon" href="public/img/favicon1.png" type="image/x-icon">
	<link rel="stylesheet" href="public/styles/index.css">
	<style type="text/css">
		body{background-color: rgb(172, 216, 209);}

		#corpo{width: 1000px; background-color: aliceblue; margin: 0%;}
	</style>
	<style ></style>
    <meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
	<div>
		<div class="list-group">
				<h3># Projeto-Web-I</h3>
			<img src="https://www.educabras.com/media/faculdades/image/ifbaiano.png">

			<h1>## SysGymIf</h1>
		</div>
		<div class="m2">
			<h3>LOGIN</h3>
			<label for="name">Nome:</label>
			<input type="text">
			<label for="name">senha:</label>
			<input type="text">
			<label for="name">Nome:</label>
			<input type="text">
			<input type="text">
		</div>
	</div>
</body>
</html>