* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;

}

html,
body {
	height: 100%;
}

body {
	background-color: #edffeb;
}

.container {
	width: 100%;
	max-width: 1042px;
	margin: 0 auto;
}

header *.container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

footer *.container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.cabecario {
	display: flex;
	width: 100%;
	height: 160px;
	flex-direction: row;
}

.logo-topo {
	background-image: url('../../../public/img/logo if.png');
	background-size: 100% 100%;
	height: 100%;
	width: 174px;
}

.cabecariopt2 {
	display: flex;
	flex-direction: column;
	background-color: #0A5517;
	width: 100%;

}

.borda-cabe {
	background-color: #01420B;
	height: 42px;
	width: 100%;
	border-top: 1px solid black;
}

.cabecariopt2 h3 {
	color: white;
	padding-left: 15px;
	padding-top: 10px;
}

.cabecariopt2 h1 {
	color: white;
	top: 10px;
	padding-left: 28px;
	padding-top: 20px;

}

.cabecariopt2 input {
	position: relative;
	bottom: -30px;
	left: 87%;
	color: white;
	background-color: #0A5517;
	border: 0;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 15px;
}

.academiaDoCampus {
	position: relative;
	top: 10px;
	height: 80px;
	background-color: #ECF1EC;
	padding: 24px;
	border: 2px solid #B6B8B6;
}

.academiaDoCampus h2 {
	color: #0A5517;
	text-align: center;
}

.painelDeEscolha {
	display: flex;
	flex-direction: row;
	height: 50px;
	width: 100%;
}

.painelDeEscolha a {
	position: relative;
	top: 20px;
	width: 100%;
	color: black;
	background-color: #ECF1EC;
	border: 2px solid #B6B8B6;
	cursor: pointer;
	font-size: 18px;
	text-decoration: none;
	color: black;
	text-align: center;
	padding-top: 8px;

}

.painelDeEscolha a:nth-of-type(3) {
	background-color: #A0A0A0;

}

.bloquear-agendamento {
	position: relative;
	top: 30px;
	width: 100%;
	background-color: #ECF1EC;
	border: 2px solid #B6B8B6;
}

.bloquear-agendamento h1 {
	padding: 30px;
	font-size: 35px;
}

.texto1-bt {
	display: flex;
	flex-direction: row;
	padding-left: 60px;
	padding-bottom: 60px;
	font-size: 20px;
	font-weight: 900;

}

.texto1-bt input {
	position: relative;
	left: 150px;
	width: 80px;
	height: 30px;
	cursor: pointer;

	background: #0A5517;
	border: 1px solid #000000;
	border-radius: 4px;
	color: white;
	font-size: 15px;
}


section:nth-of-type(2) {
	position: relative;
	top: 40px;
}

.agendamento {
	width: 100%;
	background-color: #ECF1EC;
	border: 2px solid #B6B8B6;
}

.agendamento h1 {
	padding: 30px;
	font-size: 35px;
}

.agendamento p {
	padding-left: 30px;
	padding-bottom: 15px;
	font-size: 20px;
	font-weight: 900;
}

.select {
	padding: 50px;
}

.select-data {

	display: flex;
	flex-direction: row;

}

.select-data p {
	padding-right: 20px;

}

.select-data input {
	position: relative;
	top: 3px;
	width: 150px;
	height: 22px;
}

.botão-agendamento {
	padding-bottom: 120px;

}

.botão-agendamento input {
	cursor: pointer;
	position: relative;
	width: 90px;
	height: 30px;
	background: #0A5517;
	border: 1px solid #000000;
	border-radius: 4px;
	color: white;
	left: 50px;
	top: 40px;
	font-size: 15px;
}

section:nth-of-type(3) {
	position: relative;
	top: 50px;
}

.bloquear-aluno {
	width: 100%;
	background-color: #ECF1EC;
	border: 2px solid #B6B8B6;
}

.bloquear-aluno h1 {
	padding: 30px;
	font-size: 35px;
}

.texto1 p {
	padding-left: 30px;
	font-size: 20px;
	font-weight: 900;
}

.select-bloqueio {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	padding-left: 60px;
	padding-bottom: 30px;

}

.select-bloqueio select {
	width: 180px;
	height: 30px;

}

.select-bloqueio-aluno {
	padding-bottom: 40px;
}

.select-bloqueio p {

	font-size: 20px;
	font-weight: 900;
	padding-bottom: 20px;
}

.select-tempo-bloqueio input {
	position: relative;
	cursor: pointer;
	left: 70%;
	width: 90px;
	height: 30px;
	background: #0A5517;
	border: 1px solid #000000;
	border-radius: 4px;
	color: white;
	font-size: 15px;
}

section:nth-of-type(4) {
	position: relative;
	top: 60px;
}

.desbloquear-aluno {
	width: 100%;
	background-color: #ECF1EC;
	border: 2px solid #B6B8B6;
}

.desbloquear-aluno h1 {
	padding: 30px;
	font-size: 35px;
}

.texto2 p {
	padding-left: 30px;
	font-size: 20px;
	font-weight: 900;
}

.select-desbloqueio {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	padding-left: 60px;
	padding-bottom: 30px;

}

.select-desbloqueio select {
	width: 180px;
	height: 30px;

}

.select-desbloqueio-aluno {
	padding-bottom: 40px;
}

.select-desbloqueio p {

	font-size: 20px;
	font-weight: 900;
	padding-bottom: 20px;
}

.select-desbloqueio input {
	position: relative;
	cursor: pointer;
	left: 70%;
	width: 90px;
	height: 30px;
	background: #0A5517;
	border: 1px solid #000000;
	border-radius: 4px;
	color: white;
	font-size: 15px;
}

footer {
	position: relative;
	top: 30px;
}

footer .primeiroRodaPe {
	display: flex;
	flex-direction: row;
	position: relative;
	top: 40px;
	width: 100%;
	height: 100px;
	background-color: #0A5517;
}

footer .primeiroRodaPe p {
	width: 50%;
	padding: 28px 15px 15px 15px;
	color: white;
	font-size: 15px;
	text-align: center;
}

footer .container-segundoRodaPe {
	position: relative;
	top: 40px;
	width: 100%;
}

footer .segundoRodaPe {
	display: flex;
	flex-direction: row;
	background-color: #01420B;
	padding: 25px;

}

footer .segundoRodaPe .p {
	width: 76%;
	color: white;
	font-size: 15px;
	text-align: center;
	padding-top: 15px;

}

footer .segundoRodaPe .img-footer1,
footer .segundoRodaPe .img-footer2 {
	width: 164.6px;
	height: 46.3px;
	background-image: url('../../../public/img/logo-gov.png');
	background-size: 100% 100%;
}

.modal-sucesso {
	position: absolute;
	text-align: center;
	z-index: 1;
	left: 40%;

}

.modal-sucesso img{
	border-radius: 100%;
}

.modal-sucesso input {
	cursor: pointer;
	width: 80px;
	height: 50px;
	border-radius: 10px;
	background-color: #000000;
	color: white;
	position: relative;
	bottom: 231px;
	font-size: 20px;

}



@media screen and (max-width: 1130px) {
	footer .primeiroRodaPe {
		height: 140px;
	}

	.cabecariopt2 input {
		left: 85%;

	}

	.select-tempo-bloqueio input {
		left: 60%;

	}

	.select-desbloqueio input {
		left: 60%;

	}


}

@media screen and (max-width: 780px) {

	footer .primeiroRodaPe {
		height: 180px;
	}

	.select-tempo-bloqueio input {
		left: 50%;

	}

	.select-desbloqueio input {
		left: 50%;

	}

	.modal-falha {

		left: 15%;

	}

	.modal-falha img {
		max-width: 50%;
		max-height: 50%;
	}

	.modal-falha input {
		bottom: 100px;
	}

	.select-data {
		flex-direction: column;
	}

	.select {
		text-align: center;
	}

	.select-data input {
		position: initial;
		width: auto;
		height: auto;
	}


}

@media screen and (max-width: 660px) {
	footer .primeiroRodaPe {
		height: 240px;
	}

	.cabecariopt2 input {
		left: 88%;
		bottom: 0;
	}

	.select-tempo-bloqueio input {
		left: 30%;

	}

	.select-desbloqueio input {
		left: 30%;

	}

	.texto1-bt input {
		position: relative;
		left: 30%;

		top: 50px;
		cursor: pointer;
	}

}


/* Para Hospedar */


.disclaimer {

	display: none;
}